{% extends "base.html"%} {% block content %}
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<style>
    /* player card style */
    
    .ply-card {
        min-height: 90px;
        min-width: 90px;
    }
    
    .player-a {
        background-color: rgba(90, 98, 255, 0.569);
        border-radius: 1em;
        transition: 0.5s;
    }
    
    .player-a:hover {
        box-shadow: 0 0 8px 6px blue;
    }
    
    .player-b {
        background-color: rgba(255, 109, 90, 0.569);
        border-radius: 1em;
        transition: 0.5s;
    }
    
    .player-b:hover {
        box-shadow: 0 0 8px 6px red;
    }
    
    .player-dis {
        background-color: rgba(60, 45, 43, 0.569);
        transition: 0.5s;
    }
    
    .player-dis:hover {
        box-shadow: 0 0 8px 6px rgb(123, 119, 119);
    }
    
    .cap-hover {
        transition: 0.5s;
    }
    
    .cap-hover:hover {
        /* color: yellow; */
        background: rgba(250, 250, 129, 0.667);
        box-shadow: 0 0 8px 6px rgb(255, 251, 1);
    }
    
    .cap-active {
        color: yellow;
    }
    /* ---------------*/
    /* match title  */
    
    .match-title {
        /* margin: 1em 0; */
        background: rgb(131, 253, 253);
        border-radius: 0.5em;
        box-shadow: 0px 0px 8px 6px rgba(125, 232, 240, 0.986);
    }
    
    .rules {
        /* margin: 1em 0; */
        background: rgb(131, 253, 253);
        border-radius: 0.5em;
        box-shadow: 0px 0px 8px 6px rgba(125, 232, 240, 0.986);
        padding: 1em 0.5em;
        margin-top: 2em;
    }
    /* .title {
        margin: 0 auto;
    } */
    
    .meta-data {
        border-radius: 1em;
        box-shadow: 0px 0px 8px 6px rgba(125, 232, 240, 0.986);
        font-weight: bold;
    }
    
    .bo {
        border: 1px solid plum;
    }
    
    .team-a-title {
        color: blue;
    }
    
    .team-b-title {
        color: red;
    }
    /* ---------------*/
    /* match roster*/
    
    .title-a {
        box-shadow: -5px 0px 8px 6px rgba(90, 98, 255, 0.569);
        /* background-color: rgba(90, 98, 255, 0.569); */
        transition: 0.5s;
        border-radius: 1em;
    }
    /* .title-a:hover {
        /* box-shadow: none; */
    /* background-color: rgba(90, 98, 255, 0.569); */
    /* border-radius: 1em; */
    /* } */
    
    .title-b {
        box-shadow: 5px 0px 8px 6px rgba(255, 90, 90, 0.569);
        /* background-color: rgba(255, 90, 90, 0.569); */
        transition: 0.5s;
        border-radius: 1em;
    }
    /* .title-b:hover {
        /* box-shadow: none;
        /* background-color: rgba(255, 90, 90, 0.569); */
    /* border-radius: 1em; */
    /* }  */
    
    .roster {
        text-decoration: none;
        /* text-align: start; */
    }
    
    .match-roster {
        margin: 2em 0;
        padding: 2em;
        /* text-align: center; */
        background: rgb(131, 253, 253);
        border-radius: 0.5em;
        box-shadow: 0px 0px 8px 6px rgba(125, 232, 240, 0.986);
    }
    
    .team-a-roster {
        border-top: 4px solid rgb(0, 0, 122);
        border-bottom: 4px solid rgb(0, 0, 122);
        padding: 0.5em;
        border-radius: 2em;
        background-color: rgba(92, 92, 252, 0.299);
    }
    
    .team-b-roster {
        border-top: 4px solid rgb(123, 0, 0);
        border-bottom: 4px solid rgb(123, 0, 0);
        padding: 0.5em;
        border-radius: 2em;
        background-color: rgba(252, 92, 92, 0.299);
    }
    
    .my-team-roster {
        border-top: 4px solid rgb(0, 123, 10);
        border-bottom: 4px solid rgb(0, 123, 10);
        padding: 0.5em;
        border-radius: 2em;
        background-color: rgba(92, 252, 111, 0.299);
        min-height: 125px;
    }
    
    .sub-btn {
        align-self: center;
    }
    /* ---------------*/
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".active").removeClass("active");
    });
</script>
<div class="macth-data-container container">

    <div class="match-title my-3 py-2 text-center container">
        <div class="title  row justify-content-around align-items-center">
            <div class="title-a m-1 col-4">
                <img src={{team_a_flag}} alt=" " class="team-a-flag mx-2" height="70px " width="70px ">
                <span class="team-a-title " style="font-size: 20px; font-weight: bold;">{{team_a}}</span>
            </div>
            <div class="title-vs m-1 col-1 d-flex justify-content-center align-items-center">
                <span class="vs-title" style="font-size: 30px; font-weight: bold; color:rgb(123, 0, 0);">VS</span>
            </div>
            <div class="title-b m-1 col-4">
                <span class="team-b-title " style="font-size: 20px; font-weight: bold;">{{team_b}}</span>
                <img src={{team_b_flag}} alt=" " class="team-b-flag mx-2" height="70px " width="70px ">
            </div>
        </div>

        <div class="meta-data row justify-content-center align-items-center my-2 py-2">
            <span class="time col-4 d-flex justify-content-center align-items-center">{% load tz %}{{ time_obj|timezone:"Asia/Kolkata" }}</span>
            <span class="game col-2 d-flex justify-content-center align-items-center">{{game}}</span>
            <span class="competation col-4 d-flex justify-content-center align-items-center">{{competation}}</span>
        </div>
    </div>

    <div class="rules container">
        <div class="rule-head">
            <h3 class="font-weight-bold text-center">Rules</h3>
        </div>
        <ul>
            <li>Make a Team of total 5 Players from the roster</li>
            <li>You can only select atmost 3 player from one team</li>
            <li>You have to select atleast 2 player from one team</li>
            <li>You have to selcet one Captain from your team</li>
            <li>You can select Captain only after you have selceted 5 players</li>
            <li>Captain's points will be doubled (2x)</li>
            <li>After selcting caption confirm your team</li>
        </ul>
    </div>

    <div class="match-roster container text-center">
        <div class="roster">
            <h3 class="font-weight-bold">Roster</h3>
        </div>
        <div class="roster-container row justify-content-between">
            <div class="team-a col">
                <div class="team-a-title">
                    <h4>{{team_a}}</h4>
                </div>
                <div class="team-a-roster row justify-content-around ">
                    {% for player in team_a_photos %} {% for name,photo in player.items %}
                    <div class="player-card-a-{{forloop.counter}} col-1 ply-card player-a m-1  d-flex flex-column justify-content-center align-items-center">
                        <!-- <img src="{{photo}}" class="img-fluid " alt=""> -->
                        {% if photo %}
                        <img src={{photo}} class="img-fluid " alt=""> {% else %}
                        <img src="https://siege.gg/img/player-silhouette-darker.svg" class="img-fluid " alt=""> {% endif %}
                        <p class="player-name text-center text-wrap" style="word-wrap: break-word;">{{name}}</p>
                    </div>
                    {% endfor %} {% endfor %}
                </div>
            </div>
            <div class="team-b col">
                <div class="team-b-title">
                    <h4>{{team_b}}</h4>
                </div>
                <div class="team-b-roster row justify-content-around">
                    {% for player in team_b_photos %} {% for name,photo in player.items %}
                    <div class="player-card-b-{{forloop.counter}} col-1 ply-card player-b m-1 d-flex flex-column justify-content-center align-items-center">
                        {% if photo %}
                        <img src={{photo}} class="img-fluid " alt=""> {% else %}
                        <img src="https://siege.gg/img/player-silhouette-darker.svg" class="img-fluid " alt=""> {% endif %}
                        <p class="player-name text-center text-wrap">{{name}}</p>
                    </div>
                    {% endfor %} {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="my_team">
            <div class="my-active-team">
                <h4 id="demo" class="font-weight-bold">My Team</h4>
            </div>

            <div class="active-team my-team-roster row justify-content-around"></div>

        </div>
        <br/>
        <div class="buttons-con d-flex justify-content-around">
            <button class="btn btn-warning capToteam justify-content-center p-1" onclick="capSeletor()">
                <span class="iconify" data-icon="jam:crown-f" style="font-size:1.5rem;"></span>
                <strong>Select Captain</strong> 
            </button>
            <button class="btn btn-danger conformTeam justify-content-center" onclick="confirmedTeam()">
                <span class="iconify" data-icon="fa-brands:font-awesome-alt" style="font-size:1.5rem;"></span>
                <strong>Confirm Team</strong>
            </button>

        </div>
    </div>

</div>

<!-- {% comment %} {# this is example of passing python object to JS as json object to use in js#} {{ photos|json_script:"hello-data" }}

<script>
    const jsdata = JSON.parse(document.getElementById('hello-data').textContent);
    console.log(jsdata);
</script>
{% endcomment %} -->

{{ title|json_script:"match-title-json" }} {{ id|json_script:"match-id-json" }}
<script>
    capState();

    function capState() {
        if ($(".active-team").children().length == 5) {
            $(".capToteam").attr("disabled", false);
        } else {
            $(".capToteam").attr("disabled", true);
        }

        if ($(".active-team").children().length == 5 && $(".active-team").children().hasClass("active-captain")) {
            $(".conformTeam").attr("disabled", false);
            $(".conformTeam").addClass("btn-success");
            $(".conformTeam").removeClass("btn-danger");
        } else {
            $(".conformTeam").attr("disabled", true);
            $(".conformTeam").addClass("btn-danger");
            $(".conformTeam").removeClass("btn-success");
        }
    }
    $(".team-a-roster").on("click", "div", function() {
        if ($(".active-team").children(".player-a").length < 3 && $(".active-team").children().length < 5) {
            $(".team-a-roster").children(".player-a").removeClass("player-dis");
            $(".active-team").append($(this));
            $(this).addClass("active1");
        } else {
            $(".team-a-roster").children(".player-a").addClass("player-dis");
        }
        capState();

    });
    $(".team-b-roster").on("click", "div", function() {
        if ($(".active-team").children(".player-b").length < 3 && $(".active-team").children().length < 5) {
            $(".team-b-roster").children(".player-b").removeClass("player-dis");
            $(".active-team").append($(this));
            $(this).addClass("active2");
        } else {
            $(".team-b-roster").children(".player-b").addClass("player-dis");
        }
        capState();
    });

    function activeTeamToggle() {
        if ($(this).hasClass("active1")) {
            $(".team-a-roster").children(".player-a").removeClass("player-dis");
            $(".team-a-roster").append($(this));
            $(this).removeClass("active1");
            $(this).removeClass("active-captain");
            $(this).children(".iconify").remove();
            $(this).children(".player-name").css("color", "black");
        } else {
            $(".team-b-roster").children(".player-b").removeClass("player-dis");
            $(".team-b-roster").append($(this));
            $(this).removeClass("active2");
            $(this).removeClass("active-captain");
            $(this).children(".iconify").remove();
            $(this).children(".player-name").css("color", "black");
        }
        capState();
    };

    $(".active-team").on("click", "div", activeTeamToggle);
</script>
<script>
    // $(".capToteam").toggle(
    //     function() {},
    //     function() {}
    // )

    function selectCap() {
        if ($(this).children().length == 2) {
            $(".active-captain").removeClass("active-captain");
            $(this).addClass("active-captain");
            $(this).append('<iconify-icon data-icon="jam-crown" class="iconify" style="font-size: 2rem;"></iconify-icon>');
            $(".active-team").children().css("color", "black");
            $(".cap-active").remove();
            $(this).css("color", "yellow");
            $(this).children(".iconify").addClass('cap-active');
        }
        capState();
    }

    function capSeletor() {
        console.log("Hand");
        $(".active-team").off("click", "div", activeTeamToggle);
        $(".active-team").on("click", "div", selectCap);
        $(".capToteam").attr("onclick", "capDeseletor()");
        $(".capToteam").removeClass("btn-warning");
        $(".capToteam").addClass("btn-info");
        $(".active-team").children(".ply-card").addClass("cap-hover");
        $(".capToteam").text("Change players");
        $(".capToteam").text("");
        $(".capToteam").append('<span class="iconify" data-icon="fluent:people-team-add-20-filled" style="font-size:1.5rem;"></span>');
        $(".capToteam").append("Change players");

    }

    // document.getElementById("demo").innerHTML = "Hello World";
    // $(".team-a-roster").unbind("click");

    function capDeseletor() {
        console.log("Hands OFF");
        $(".active-team").on("click", "div", activeTeamToggle);
        $(".active-team").off("click", "div", selectCap);
        $(".capToteam").attr("onclick", "capSeletor()");
        $(".capToteam").addClass("btn-warning");
        $(".capToteam").removeClass("btn-info");
        $(".active-team").children(".ply-card").removeClass("cap-hover");
        $(".capToteam").text("");
        $(".capToteam").append('<span class="iconify" data-icon="jam:crown-f" style="font-size:1.5rem;"></span>');
        $(".capToteam").append("Select Captain");

    }
    String.prototype.killWhiteSpace = function() {
        return this.replace(/\s/g, '');
    };

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function confirmedTeam() {
        console.log("confirmedTeam");
        let my_cap = $(".active-team").children(".active-captain").text().killWhiteSpace();
        let data_obj = $(".active-team").children();
        // for (const data in data_obj) {
        //     console.log(data_obj(data));
        // }
        var my_roster = [];
        for (i = 0; i < 5; i++) {
            my_roster.push($(data_obj[i]).text().killWhiteSpace());
        }
        let bohtml = $(".macth-data-container").html();
        // const jsdata = JSON.parse(document.getElementById('hello-data').textContent);
        const title = JSON.parse(document.getElementById('match-title-json').textContent);
        const id = JSON.parse(document.getElementById('match-id-json').textContent);
        console.log(id);
        var my_team = {
            "my_cap": my_cap,
            "my_roster": my_roster,
            // "state": bohtml
            "title": title
        }
        console.log(my_team);
        // console.log(bohtml);
        // $.ajax({
        //     type: "POST",
        //     url: request,
        //     my_team,
        //     success: function() {
        //         $('#message').html("<h2>my team Form Submitted!</h2>")
        //     }
        // });
        // return false; //<---- move it here

        const csrftoken = getCookie('csrftoken');
        console.log(csrftoken);
        url = encodeURI(`/matches/${id}/myteam/`);
        // $.post(url, headers: {
        //     'X-CSRFToken': csrftoken
        // }, my_team);
        $.ajax({
            url: url,
            type: 'post',
            data: my_team,
            headers: {
                'X-CSRFToken': csrftoken //If your header name has spaces or any other char not appropriate
                    //for object property name, use quoted notation shown in second
            },
            success: function(data) {
                location.href = url //this will redirect to your index
            }
        });
        // const request = new Request(
        //     url, {
        //         headers: {
        //             'X-CSRFToken': csrftoken
        //         }
        //     }
        // );
        // fetch(request, {
        //     method: 'POST',
        //     mode: 'same-origin' // Do not send CSRF token to another domain.
        // }).then(function(response) {
        //     // ...
        // });
    }
</script>
{% endblock content%}