{% extends "create-team.html"%} {% block content %}
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<style>
    /* player card style */
    
    .ply-card {
        min-height: 90px;
        min-width: 90px;
        font-weight: bold;
    }
    
    .player-b {
        background-color: rgba(90, 90, 255, 0.569);
        border-radius: 1em;
        transition: 0.5s;
    }
    
    .player-b:hover {
        box-shadow: 0 0 8px 6px rgb(85, 0, 255);
    }
    
    .my-team-roster {
        border-top: 4px solid rgb(0, 102, 123);
        border-bottom: 4px solid rgb(0, 72, 123);
        padding: 0.5em;
        border-radius: 2em;
        background-color: rgba(92, 172, 252, 0.299);
        min-height: 125px;
    }
    
    .cap-hover {
        transition: 0.5s;
    }
    
    .cap-hover:hover {
        /* color: yellow; */
        background: rgba(250, 250, 129, 0.667);
        box-shadow: 0 0 8px 6px rgb(255, 251, 1);
    }
    
    .cap-active {
        color: yellow;
    }
    /* ---------------*/
    /* match title  */
    
    .match-title {
        /* margin: 1em 0; */
        background: rgb(131, 253, 253);
        border-radius: 0.5em;
        box-shadow: 0px 0px 8px 6px rgba(125, 232, 240, 0.986);
    }
    /* .title {
        margin: 0 auto;
    } */
    
    .meta-data {
        border-radius: 1em;
        box-shadow: 0px 0px 8px 6px rgba(125, 232, 240, 0.986);
        font-weight: bold;
    }
    
    .bo {
        border: 1px solid plum;
    }
    
    .team-a-title {
        color: blue;
    }
    
    .team-b-title {
        color: red;
    }
    /* ---------------*/
    /* match roster*/
    
    .title-a {
        box-shadow: -5px 0px 8px 6px rgba(90, 98, 255, 0.569);
        /* background-color: rgba(90, 98, 255, 0.569); */
        transition: 0.5s;
        border-radius: 1em;
    }
    /* .title-a:hover {
        /* box-shadow: none; */
    /* background-color: rgba(90, 98, 255, 0.569); */
    /* border-radius: 1em; */
    /* } */
    
    .title-b {
        box-shadow: 5px 0px 8px 6px rgba(255, 90, 90, 0.569);
        /* background-color: rgba(255, 90, 90, 0.569); */
        transition: 0.5s;
        border-radius: 1em;
    }
    /* .title-b:hover {
        /* box-shadow: none;
        /* background-color: rgba(255, 90, 90, 0.569); */
    /* border-radius: 1em; */
    /* }  */
    
    .roster {
        text-decoration: none;
        /* text-align: start; */
    }
    
    .match-roster {
        margin: 2em 0;
        padding: 2em;
        /* text-align: center; */
        background: rgb(131, 253, 253);
        border-radius: 0.5em;
        box-shadow: 0px 0px 8px 6px rgba(125, 232, 240, 0.986);
    }
    
    .sub-btn {
        align-self: center;
    }
    
    .messages {
        border-radius: 0.5em;
        box-shadow: 0px 0px 8px 6px rgba(125, 232, 240, 0.986);
        color: rgb(8, 0, 255);
        font-weight: bold;
        padding: 10px;
        margin-top: 10px;
    }
    
    #hideMe {
        -moz-animation: cssAnimation 0s ease-in 3s forwards;
        /* Firefox */
        -webkit-animation: cssAnimation 0s ease-in 3s forwards;
        /* Safari and Chrome */
        -o-animation: cssAnimation 0s ease-in 3s forwards;
        /* Opera */
        animation: cssAnimation 0s ease-in 3s forwards;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    
    @keyframes cssAnimation {
        to {
            width: 0;
            height: 0;
            padding: 0;
            margin-top: 0;
            overflow: hidden;
            box-shadow: 0;
            border-radius: 0;
        }
    }
    
    @-webkit-keyframes cssAnimation {
        to {
            width: 0;
            height: 0;
            box-shadow: 0;
            border-radius: 0;
            padding: 0;
            margin-top: 0;
            visibility: hidden;
        }
    }
    /* ---------------*/
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".active").removeClass("active");
    });
</script>
<div class="macth-data-container container">

    <div class="match-title my-3 py-2 text-center container">
        <div class="title  row justify-content-around align-items-center">
            <div class="title-a m-1 col-4">
                <img src={{match.team_a_flag}} alt=" " class="team-a-flag mx-2" height="70px " width="70px ">
                <span class="team-a-title " style="font-size: 20px; font-weight: bold;">{{match.team_a}}</span>
            </div>
            <div class="title-vs m-1 col-1 d-flex justify-content-center align-items-center">
                <span class="vs-title" style="font-size: 30px; font-weight: bold; color:rgb(123, 0, 0);">VS</span>
            </div>
            <div class="title-b m-1 col-4">
                <span class="team-b-title " style="font-size: 20px; font-weight: bold;">{{match.team_b}}</span>
                <img src={{match.team_b_flag}} alt=" " class="team-b-flag mx-2" height="70px " width="70px ">
            </div>
        </div>

        <div class="meta-data row justify-content-center align-items-center my-2 py-2">
            <span class="time col-4 d-flex justify-content-center align-items-center">{% load tz %}{{ match.time_obj|timezone:"Asia/Kolkata" }}</span>
            <span class="game col-2 d-flex justify-content-center align-items-center">{{match.game}}</span>
            <span class="competation col-4 d-flex justify-content-center align-items-center">{{match.competation}}</span>
        </div>
    </div>

    <div class="match-roster container text-center">
        {% for message in messages %}
        <p id="hideMe" class="messages">{{message}}</p>
        {% endfor %}
        <div class="my_team">
            <div class="my-active-team">
                <h4 id="demo">My Team</h4>
            </div>
            <div class="active-team my-team-roster row justify-content-around">
                {% for player in user_team_photos %} {% if forloop.counter == 3 %} {% for name,photo in player.items %}
                <div class="player-card-b col-1 ply-card player-b m-1 d-flex flex-column justify-content-center align-items-center">
                    <img src="{{photo}}" class="img-fluid " alt="">
                    <p class="player-name text-center " style="color:rgb(85, 0, 255)"><span class="iconify" data-icon="jam:crown-f" style="font-size:1.5rem;"></span>{{name}}</p>
                </div>
                {% endfor %} {% else %} {% for name,photo in player.items %}
                <div class="player-card-b col-1 ply-card player-b m-1 d-flex flex-column justify-content-center align-items-center">
                    <img src="{{photo}}" class="img-fluid " alt="">
                    <p class="player-name text-center ">{{name}}</p>
                </div>
                {% endfor %} {% endif %} {% endfor %}
            </div>
        </div>
        </br>
        <div class="buttons-con d-flex justify-content-around">
        {% if match.isUpcoming %}
            <button class="btn btn-info capToteam justify-content-center p-1" onclick="updateTeam()">
            <span class="iconify" data-icon="fluent:people-team-add-20-filled" style="font-size:1.5rem;"></span>
            <strong>Change Players</strong> 
        </button>
        {% endif %}
        {% if match.isCompleted %}
            <button class="btn btn-success capToteam justify-content-center p-1" onclick="MatchResult()">
            <span class="iconify" data-icon="foundation:results-demographics" data-inline="false" style="font-size:1.5rem;"></span>
            <strong>Show Result</strong> 
        </button>
        {% endif %}
        </div>
    </div>

</div>

<script>
    function updateTeam() {
        //{% comment %} location.href = document.referrer; {% endcomment %}
        var x = location.href;
        //var y = x.substring(30,33);
        var y = ((x.split("matches/"))[1].split("/"))[0];
        console.log(y);
        location.href = "/matches/createteam/"+y;
        // document.write('<a href="' +  + '">Go Back</a>');    
    }
    function MatchResult() {
        //{% comment %} location.href = document.referrer; {% endcomment %}
        var x = location.href;
        //var y = x.substring(30,33);
        var y = ((x.split("matches/"))[1].split("/"))[0];
        console.log(y);
        location.href = "/matches/result/"+y;
        // document.write('<a href="' +  + '">Go Back</a>');    
    }
</script>
{% endblock content %}