 {% extends "base.html" %} {% block content %}
<script>
    $(document).ready(function() {
        $(".active").removeClass("active");
        $("#upcoming-tab").addClass("active");
    });
</script>
<style>
    .upcoming-match-links {
        display: block;
        margin: 20px;
        background-color: rgba(125, 232, 240, 0.361);
        box-shadow: 0px 2px 4px 3px rgba(125, 232, 240, 0.986);
        border-radius: 10px;
        transition: all 0.5s;
    }
    
    .upcoming-match-links:hover {
        box-shadow: 0px 0px 8px 8px rgba(93, 244, 255, 0.986);
    }
    
    .bord {
        display: flex;
        justify-content: center;
    }
    
    .match-title {
        margin: 2px;
    }
    
    .team-card {
        background-color: rgba(125, 232, 240, 0.986);
        border-radius: 10px;
    }
</style>
<div id="upcoming-matches" class="container border">
    {% for match in match_list %}

    <a href="/create_team/{{match.title}}" id="upcoming-match-{{forloop.counter}}" class="upcoming-match-links container p-1" style="text-decoration:none;">
        <div class=" match-title row">
            <div class="team-a col-5 d-flex align-items-center justify-content-center team-card">
                <img src={{ match.team_a_flag}} alt=" " class="team-a-flag m-1" height="40px " width="40px ">
                <span class="team-a-title d-flex align-items-center font-weight-bold m-1">{{match.team_a}}</span>
            </div>
            <div class="match-vs col-2 d-flex align-items-center justify-content-center font-weight-bold">VS</div>
            <div class="team-b col-5 d-flex align-items-center justify-content-center team-card">
                <span class="team-b-title d-flex align-items-center font-weight-bold m-1">{{match.team_b}}</span>
                <img src={{ match.team_b_flag }} alt=" " class="team-b-flag m-1" height="40px " width="40px ">
            </div>
        </div>
        <div class="match-meta-data row justify-content-center align-items-center">
            <span class="time col-sm-4  d-flex justify-content-center" dtutc="{{match.time}}" dt="{{match.time_obj}}">{{match.time_obj }}</span>
            <span class="game col-sm-2  d-flex justify-content-center">{{match.game}}</span>
            <span class="competation col-sm-4 d-flex justify-content-center">{{match.competation}}</span>
        </div>
    </a>

    <script>
        $(".upcoming-match-links").hover(function() {
                dat = $(this).find(".time").attr('dtutc');
                let livedate = new Date(dat).getTime();
                // console.log(livedate);

                let now = new Date().getTime();
                let t = livedate - now;
                if (t > 0) {
                    // Setup Days, hours, seconds and minutes
                    // Algorithm to calculate days...
                    let days = Math.floor(t / (1000 * 60 * 60 * 24));
                    // prefix any number below 10 with a "0" E.g. 1 = 01
                    if (days < 10) {
                        days = "0" + days;
                    }

                    // Algorithm to calculate hours
                    let hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    if (hours < 10) {
                        hours = "0" + hours;
                    }

                    // Algorithm to calculate minutes
                    let mins = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
                    if (mins < 10) {
                        mins = "0" + mins;
                    }

                    // Algorithm to calc seconds
                    let secs = Math.floor((t % (1000 * 60)) / 1000);
                    if (secs < 10) {
                        secs = "0" + secs;
                    }

                    // Create Time String
                    // let time = `${days}days : ${hours}hr : ${mins}min : ${secs}sec`;
                    if (days == 0) {
                        if (hours == 0) {
                            if (mins == 0) {
                                if (secs == 0) {
                                    time = "It is Live now";
                                } else {
                                    time = `${secs}sec`
                                }
                            } else {
                                time = ` ${mins}min : ${secs}sec`
                            }
                        } else {
                            time = ` ${hours}hr : ${mins}min : ${secs}sec`
                        }
                    }
                    $(this).find(".time").text("oLive in : " + time);
                    $(this).find(".time").css({
                        "color": "red",
                        'font-weight': 'bold'
                    });
                }
            },
            function() {
                dat = $(this).find(".time").attr('dt');
                $(this).find(".time").text(dat);
                $(this).find(".time").css({
                    'color': "#007bff",
                    'font-weight': 'normal'
                });
            });
    </script>
    {% endfor %} {% endblock content%}