    <div class="leader-board-container">
        <div class="col-12">
            <h2 class="mb-0">Leaderboard</h2>
            <div class="table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-sm table-hover table--stats table--player-stats js-dt--player-stats js-heatmap w-100 dataTable no-footer" id="DataTables_Table_0" role="grid" style="width: 1116px;">
                        <thead>
                            <tr role="row">
                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 205.2px;"></th>
                                <th data-toggle="tooltip" data-html="true" data-delay="{&quot;show&quot;:0,&quot;hide&quot;:1000}" title="" data-original-title="SiegeGG player rating (for this match only). <a href='https://siege.gg/news/946' target='_blank'>Explanation</a>" class="sorting_desc"
                                    tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Rating: activate to sort column descending" style="width: 80.6px;">Rank</th>
                                <th data-toggle="tooltip" title="" data-original-title="Total kills and deaths" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="K-D (+/-): activate to sort column descending" style="width: 116.6px;">User</th>
                                <th data-toggle="tooltip" title="" class="w-6 sorting" data-original-title="Opening kills and deaths" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Entry (+/-): activate to sort column descending" style="width: 97.6px;">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- here will be team A players -->

                            {% for users in leaderboard %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                {% for name,score in player.items %}
                                <td>{{ name }}</td>
                                <td>{{ score }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>